<h3>This is Promo Page, Promo Events show here</h3>
<div class="row">
    <div class="col-md-12 mt-3">
        <div class="container-fluid">
            <div class="row">
                <!--Promo List session-->
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row g-10">
                            <div class="col-md-3">
                                <img src="..." class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-9">
                                <h4 class="card-title">Promo Event</h4>
                                <p>Thời gian diễn ra</p>
                                <p>Thời hạn đăng ký</p>     
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Promo List session-->
            </div>
        </div>
    </div>
</div>