<h4>Thông tin tài khoản</h4>
<div class="mt-4 row">
    <div class="col-sm-10">
        <form>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group mb-3">
                        <label for="partnerName">Tên Doanh nghiệp</label>
                        <input type="text" id="partnerName" formControlName="name" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group mb-3">
                        <label for="partnerName">Hạng mục kinh doanh</label>
                        <input type="text" id="partnerName" formControlName="name" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group mb-3">
                        <label for="partnerName">Tên công ty</label>
                        <input type="text" id="partnerName" formControlName="name" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group mb-3">
                        <label for="partnerName">Số điện thoại</label>
                        <input type="text" id="partnerName" formControlName="name" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group mb-3">
                        <label for="partnerName">Địa chỉ văn phòng</label>
                        <input type="text" id="partnerName" formControlName="name" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group mb-3">
                        <label for="partnerName">Quốc gia kinh doanh</label>
                        <input type="text" id="partnerName" formControlName="name" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group mb-3">
                        <label for="partnerName">Địa chỉ Website hoặc MXH</label>
                        <input type="text" id="partnerName" formControlName="name" class="form-control">
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Thay đổi thông tin</button>
                </div>
            </div>
        </form>
    </div>
</div>
