
<h2>This is Home page</h2>
<div class="container-fluid" style="height: 980px;">
    <!--Thông tin sơ bộ-->
    <div class="card">
        <div class="card-body" style="display: flex; justify-content: space-between; padding-bottom: 0%;">
            <p style="font-weight: bold;font-size: 16px; ">Xin chào, insert name here</p>
            <a>Xem Hiệu quả kinh doanh</a>
        </div>

        <div class="card-body row" style="padding-top: 0%;">
            <div class="col">
                <div class="card">
                    <div class="card-body" name="doanhThu">
                        <p>Doanh thu tháng</p>
                        <p>#.###.### VND</p>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                    <div class="card-body" name="slgd">
                        <p>Số lượng giao dịch tháng</p>
                        <p>###</p>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                    <div class="card-body" name="ptkt">
                        <p>Phát triển kinh tế tháng</p>
                        <p>## % <span><i class="bi bi-graph-up-arrow"></i></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->

    <!---->
    <div style="display: grid; width: 320px; grid-template-columns: calc(50% - 0.5ch) calc(50% - 0.5ch);">
        <div class="card" style="grid-row: 1/3; order: 1;">
            <div class="card-body" >
                <p>Doanh thu tháng</p>
                <p>#.###.### VND</p>
            </div>
        </div>
        <div class="card" style="grid-row: 1/3; order: 1;">
            <div class="card-body" >
                <p>Doanh thu tháng</p>
                <p>#.###.### VND</p>
            </div>
        </div>
        <div class="card" style="order: 3;">
            <div class="card-body">
                <p>Doanh thu tháng</p>
                <p>#.###.### VND</p>
            </div>
        </div>
    </div>
    <!---->
</div>


