<div class="container mt-4">
    <div class="row">
        <!-- <app-packet-item></app-packet-item> -->
        <!--Packet items section-->
        <div class="row g-0 mb-3">
            <div class="col-md-12">
                <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-between">
                        <h6 class="card-title"><b>Packet Tour name</b></h6>
                        <p class="badge bg-light rounded-pill text-dark">Trạng thái kích hoạt</p>
                    </div>
                    <a>
                        <i class="bi bi-pencil-square" style="font-size: 1rem;"></i>Sửa
                    </a>
                </div>
            </div>
        </div>
        <!--End of packet items section-->
    </div>
</div>
